<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @movie.image.url(:medium), class: 'image' %>
				
				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>
								<div class="star-rating" data-score=<%= @avg_rating %> ></div>
								<em><%= "#{@reviews.length}" %> reviews</em>
							</td>
						</tr>
						<tr>
							<td><strong>Title:</strong></td>
							<td><%= @movie.title %></td>
						</tr>
						<tr>
							<td><strong>Description:</strong></td>
							<td><%= @movie.description %></td>
						</tr>
						<tr>
							<td><strong>Movie Length:</strong></td>
							<td><%= @movie.movie_length %></td>
						</tr>
						<tr>
							<td><strong>Directed By:</strong></td>
							<td><%= @movie.director %></td>
						</tr>
						<tr>
							<td><%= link_to 'Write Review', new_movie_review_path(@movie) %></td>
						</tr>
						<tr>
							<td>
								<%= link_to "Edit", edit_movie_path %> | <%= link_to "Back", movies_path %>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-7 col-offset-1">
				<h3 class="review-title"><strong>Title:</strong> <%= @movie.title %></h3>
				<p><strong>Description:</strong> <%= @movie.description %></p>

				<% if @reviews.blank? %>
					<p>This movie not reviewd yet!!</p>
					<%= link_to 'Write Review', new_movie_review_path(@movie), class: 'btn btn-danger btn-lg' %>
				<% else %>
					<% @reviews.each do |review| %>
						<div class="reviews">
							<div class="star-rating" data-score=<%= review.rating %>></div>
							<p><%= review.comment %></p>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
